
.div_form {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

label, input, select{
    display: block;
}

select {
    width: 175px; 
}

.form_new_pokemon {
    display: block;
}

/* form, input {
    width: 140px;
} */

button {
    
    background-color: blue;
}
