
.div_form {
    /* background-color: black; */
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin-top: 15px;
    border-radius: 10px;
    width: 100%;
    margin-top: 40px; 
}

.form_new_pokemon {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: red;
    width: 50%;
    margin-left: 250px;
    padding: 50px;
    border-radius: 10px;
    background-color: black;
}

.input_form {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 50%;
    margin-left: 0px;
}
