
.navBar {
    position: fixed;
    top: 0;
    width: 100%;    
    z-index: 100;
    margin-bottom: 25px;    
    background-color: black;
}

.top_link {
    display: flex;
    justify-content: center;
    gap: 400px;
}

.top_link, h3 {
    color: white;
    cursor: pointer;
}

.barra_nav {        
    display: flex;    
    justify-content: space-between;   
    flex-direction: row; 
    padding: 20px;    
    color: white;       
}

.barra_nav, select {
    border-radius: 10px;
}

.input_nav{
    padding: 10px;
    border-radius: 10px;        
}

.search_button {
    padding: 10px;
}

/* .nav_form {
    display: flex;    
    flex-direction: column;  
} */

